.collection-card {
    display: flex;
    position: relative;
    margin: 5px;
    justify-content: center;
    align-items: center;
    &__image {
        height: 120px;
    }
    &__delete-btn {
        position: absolute;
        outline: none;
        border: none;
        top: 0;
        right: 0;
        width: 16px;
        height: 16px;
        background-color: red;
    }
}
